
.iconswithtext{
  min-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  }
  
  
  .iconsvsg{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items:flex-end;
  text-align: center;
  }
  

  .iconswithtextii{
      min-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.iconsvsgii{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;

}


/*  new test  */

.photocontainer { 
  position: relative; 
}


.photocontainer #blue { 
  display: block; 
  overflow-x: hidden;
}

.photocontainer #playicon  { 
  position: absolute; bottom:45%; left:46%; 
}

.photocontainer #text  { 
  position: absolute; bottom:38%; left:44.5%; 
  color: white;
}

.greatgrandgrannie {
width: 50%;
margin-left:25%;
}

  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.r-first-container {
    background:center/cover no-repeat url(./img/bgk-header.png) ;
    color: white;
}

main {
    margin: auto;
    line-height: 1.5;
}

h1, h2{
    text-transform: uppercase;
}

/*-- OUR STORY by Eudes --*/
#ourStory {
    max-width: 960px;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.logoBig {
    width: auto;
    padding: 50px;
}

.storyText {
    width: 70%;
    padding: 50px;
    
}

/*-- OUR TEAM by Eudes --*/
#ourTeam {
    background-image: url(img/bgk-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
    text-align: center;
    padding: 50px;
}

.gridContainer {
    max-width: 960px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    width: 80%;
    margin: 30px auto;
}

.gridContainer a {
    text-decoration: none;
}

.divider {
    color: gray;
    height: 50px;
}

.grid-item {
    background-color: white;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: white;
    text-transform: uppercase;
}

.gridTeamMember {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
}

.gridTeamMember h2, p {
    font-size: 1em;
    font-weight: 100;
}

.gridTeamMember p {
    color: gray
}

/*-- BUTTONS --*/
button {
    background-color: transparent;
    border: 2px solid #52c3c0;
    color: #52c3c0;
    padding: 10px 10px;
    font-size: 1em;
    text-transform: uppercase;
    margin: 30px 0;
}

button:hover {
    background-color: #52c3c0;
    border: 2px solid white;
    color: white;
}


.first-container {
    background:center/cover no-repeat url(./img/bgk-header.png);
    color: white;
    height:65vh;     
}

.r-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    
}

#r-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    }

#tajam{
    color:#285E77;
    font-weight: 100;
    margin-left: 0.5em;
}

#navbar{
    width: 50%;
    height: 100px;
    margin-top: 2.5em;
    
}

#head-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head-li {
    list-style: none;
    padding: 2px;   
}

#home {
    color: #40F8FF;
}

#r-main {
    width: 60%;
    margin-left: 50%;
    translate: -50%;
    text-align: center;
}

#r-line {
    max-width:6%;
    height: 1px;
    border: 1px solid #40F8FF;
    margin: auto;  
}


#r-bt {
    color: #40F8FF;
    border: 1px solid #40F8FF;
    background-color: transparent;
    padding: 5px;
    font-weight:600 ;
    margin-top: 10px;
    
}

@media only screen and (max-width: 768px){
    
    .r-first-container {
        min-height: 100vh;
    }
    
    .r-logo {
        padding-top: 20px;
        padding-bottom: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: column wrap;
        }


#head-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#r-line {
    max-width:16%;
}

};
    

#l h1{
    font-family:'Playfair Display', cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#l>*{
    width:100%;
}

.l_gridded {
    display: grid;
    grid-template-columns:repeat(12,60px);
    column-gap:20px;
    justify-content:center;

}

.l_white{
    padding:100px 0 70px;
    grid-auto-rows: auto;
}

.l_leftie{
    background-color: deeppink;
    grid-column-start:1;
    grid-column-end:span 7;
}

.l_rightie{  
    background-color: aqua;
    grid-column-start: span 5;
    grid-column-end:auto;
}

.l_footer{
    padding:70px 0 70px;
    color:white;
    background-color:#140F36;
}

